.inside-header {
  position: fixed;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: $color-white;
  z-index: 600;
  border-bottom: 1px solid $border-color-light;
  //box-shadow: 0 2px 7px rgba(0,0,0,0.07);
  top: 0;
  left: 0;
  width: 100%;

  &.search-show {
    .search-trigger__close {
      display: block;
    }

    .search-trigger__search {
      display: none;
    }

    .logo {
      opacity: 0;

      @include breakpoint(720px) {
        opacity: 1;
      }
    }
  }

  // &.fixed {
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   height: 65px;
  //
  //   @include breakpoint(800px) {
  //     height: 75px;
  //   }
  //
  //   .logo {
  //     @include breakpoint(800px) {
  //       @include reset-column;
  //       display: inline-flex;
  //       margin-right: 60px;
  //     }
  //   }
  //
  //   .logo img {
  //     transform-origin: center left;
  //     transition: all 0.1s ease-in-out;
  //   }
  //
  //   &::after {
  //     opacity: 1;
  //   }
  //
  //   .inside-header__search {
  //     transition: opacity 0.3s cubic-bezier(.75,.48,.23,1.37);
  //     transform-origin: right;
  //     z-index: 500;
  //     order: 1;
  //     position: absolute;
  //     width: calc(100% - (20px + 90px));
  //     top: 5px;
  //     opacity: 0;
  //     pointer-events: none;
  //
  //     @include breakpoint(800px) {
  //       @include column(8);
  //       opacity: 1;
  //       position: relative;
  //       order: 2;
  //       pointer-events: all;
  //       top: 0;
  //     }
  //   }
  // }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(720px) {
      justify-content: flex-start;
    }
  }

  .logo {
    display: inline-flex;
    position: relative;
    z-index: 400;
    order: 2;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

    @include breakpoint(720px) {
      @include column(4);
      display: inline-flex;
    }

    a {
      display: inline-flex;
    }

    img {
      max-height: 35px;

      @include breakpoint(720px) {
        max-height: 40px;
      }
    }
  }
}

.inside-header__search {
  transition: opacity 0.3s cubic-bezier(.75,.48,.23,1.37);
  transform-origin: right;
  z-index: 500;
  order: 1;
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  top: 50%;
  margin-top: -22.5px;
  opacity: 0;
  pointer-events: none;

  @include breakpoint(600px) {
    width: calc(100% - 100px);
    left: 50px;
  }

  @include breakpoint(720px) {
    @include column(6);
    @include prepend(2);
    opacity: 1;
    position: relative;
    order: 2;
    pointer-events: all;
    top: 0;
    margin-top: 0;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .search input[type="search"] {
    background-color: #efefef;
    box-shadow: none;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 2px solid transparent;

    @include breakpoint(720px) {
      border-radius: 8px;
      padding-left: 50px;
      padding-right: 30px;
      height: 45px;
      background-color: #f5f5f5;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    &:focus {
      color: $field-text-focus-color;
      border-color: $brand_color;
      background-color: $color-white;
      transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out;
    }

    &:active {
      border-color: $brand_color;
      background-color: $color-white;
      transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out;
    }
  }

  .header__search__icon {
    display: none;

    @include breakpoint(720px) {
      display: inline-block;
      height: 20px;
      width: 20px;
      top: 50%;
      margin-top: -10px;
    }

    svg {
      fill: #8E8E8E;
    }
  }
}

.inside-header__content {
  display: inline-flex;
}

.inside-header__search-trigger {
  display: inline-flex;
  position: relative;
  z-index: 600;
  cursor: pointer;
  order: 3;

  @include breakpoint(720px) {
    display: none;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .search-trigger__close {
    display: none;
  }
}
