/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {

  .blocks-list {
    @include pie-clearfix;
    margin: 0 -25px;
  }

  .blocks__title {
    margin-bottom: 30px;

    @include breakpoint(1150px) {
      margin-bottom: 40px;
    }
  }

  .blocks-item {
    @include column(12);
    color: $brand_color;
    margin-bottom: 10px;

    @include breakpoint(650px) {
      @include column(6);
      @include last-col2;
    }

    @include breakpoint(950px) {
      @include column(4);
      @include last-col3;
    }

    @include breakpoint(1350px) {
      @include column(3);
      @include last-col4;
    }
  }

  .blocks-item-link {
    color: $text_color;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 25px;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-white;
      z-index: -1;
      border-radius: 6px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.08);
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      top: 0;
      left: 5px;
      width: calc(100% - 10px);
      height: 100%;

      @include breakpoint(600px) {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    h3 {
      text-decoration: underline;
      color: $brand_color;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $brand_color;
      outline: none;

      &::after {
        opacity: 1;
      }

      h3 {
        color: $text_color;
      }
    }

    &:focus {
      &::after {
        border: 2px solid $brand_color;
      }
    }
  }

  .blocks-item-title {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
  }

  &-item-description {
    font-weight: $font-weight-light;
    margin: 0;
    color: $text_color_light;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
