/***** Breadcrumbs *****/
.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;

  li {
    color: $text_color;
    display: inline;
    font-weight: bold;
    font-size: $font-size-small;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;

    + li::before {
      content: "/";
      margin: 0 4px;
      color: #ccc;
    }

    a {
      text-decoration: none;
      color: $text_color;

      &:hover {
        color: $brand_color;
        text-decoration: underline;
      }
    }
  }
}
