@import url("https://use.typekit.net/dpo2eva.css");

$bodySizeMedium: 14px;
$bodySizeSmall: 13px;

$headingSizeSmall: 18px;

@font-face {
  font-family: 'Poppins';
  src: url('$assets-poppins-bold-webfont-woff2') format('woff2'),
       url('$assets-poppins-bold-webfont-woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin title-face {
  font-family: 'Poppins', sans-serif;
}

@mixin text-face {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  @include title-face;
  margin-top: 0;
  font-weight: normal;
}

h3, h4 {
  @include text-face;
  font-weight: bold;
}

h1 {
  font-size: 2.074em;
  line-height: 1.25;

  @include breakpoint(1050px) {
    font-size: 2.488em;
  }
}

h2 {
  font-size: 1.44em;

  @include breakpoint(1050px) {
    font-size: 1.728em;
  }
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5a5a5a;
}

a {
  color: $link_color;
  position: relative;
  display: inline-block;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -2px;
  //   left: 0;
  //   height: 3px;
  //   width: 100%;
  //   background-color: #E0E7FF;
  // }

  &:hover,
  &:active,
  &:focus {
    color: #1a1a1a;
  }
}

.article-body {
  ol, ul {
    li {
      margin-bottom: 0.7em;
      padding-left: 5px;
    }
  }
}
